{% load static %}

<div class="card mb-3 ap">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ blog.image.url }}" alt="" class="img-fluid rounded-start" height="50px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'blog_details' blog.slug %}">
                        {{ blog.title }}
                    </a>
                </h5>
                <p class="card-text">{{ blog.description|striptags|safe|slice:"0:180" }} ...</p>
            </div>
        </div>
    </div>
</div>