{% extends "base.html" %}
{% load static %}

{% block title%} Blog Details {% endblock %}

{% block content %}
 
    {% include 'partials/_navbar.html' %}
    <div class="container mt-3">
       
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 ap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body mx-4">
                                <br>
                                <h1 class="card-title h3 mb-4 mx-3">
                                    {{ blog.title|title }}
                                </h1>
                                <img src="{{ blog.image.url }}" alt="" class="img-fluid mb-3 mx-4" width="500px" height="400px" style="float:left; ">
                                <p class="card-text mx-4">{{ blog.description|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>

{% endblock %}

 