{% extends "base.html" %}


{% block title%} Blogs {% endblock %} 

{% block content %}
{% include 'partials/_navbar.html' %}
<br>
<div class="container ">
    <div class="row">
        <div class="col-md-3 mt-5 mt-5">
            <br>
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-md-9">
            <h1 class="text-light">All Blogs</h1>
            <hr>
            {% if blogs|length > 0 %}            
                {% for blog in blogs %}
                    {% if blog.is_active %}
                        {% include 'blog/partials/_blog.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">No Blogs</div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}