{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block title%} Register {% endblock %}

{% block content %}

<div class="bg">
<div class="container">
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-xl-10 col-lg-12 col-md-9 mt-5 ">
                <div class="card o-hidden border-0 shadow-lg col-8 mx-auto">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div class="p-5">
                                    <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                    </div>
                                    <form method="POST">
                                            {% csrf_token %}
                                            {% if error %}
                                            <div class="alert alert-danger">
                                                {{error}}
                                            </div>
                                        {% endif %}
                                        <h3>Register Here</h3>
                                        <hr>
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Username" name="username" value="{{ username }}">
                                        </div>
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="email" name="email" value="{{ email }}">
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <input type="text" class="form-control" name="firstname" placeholder="First name" value="{{ firstname }}">
                                            </div>
                                            <div class="col">
                                            <input type="text" class="form-control" name="lastname" placeholder="Last name" value="{{ lastname }}"> 
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col">
                                                <input type="password" class="form-control" placeholder="Password" name="password">    
                                            </div>
                                            <div class="col">
                                                <input type="password" class="form-control"   placeholder="Re-password"  name="repassword">
                                            </div>
                                        </div>
                                        
                                    
                                        <div class="mb-3"></div>
                                        <div class="text-center ">
                                        <input type="submit" value="Register" class="btn btn-primary form-control">
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js_files %} 
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}